@media(max-width:50em) {
    :root {
        --header-height: 50px;
    }

    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: monospace;
        background-color: black;
        color: aliceblue;
    }

    #navbar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        z-index: 1000;
        background-color: black;
        font-size: 15px;
    }

    #navbar ul {
        list-style-type: none;
        /* margin-top: 50px; */
        padding: 0;
    }

    #navbar li ul {
        padding: 10px;
    }

    .menu-button {
        position: fixed;
        top: 0;
        right: 0;
        margin: 7px;
        font-size: 30px;
    }

    .hide {
        display: none;
    }

    #logo {
        position: fixed;
        height: var(--header-height);
        top: 0;
        right: 30px;
        -webkit-filter: invert(100%) !important;
    }
    #navbar a {
        position: relative;
        padding: 0 20px;
        cursor: pointer;
        color: aliceblue;
        text-decoration: none;
    }
    #content {
        position: absolute;
        top: var(--header-height);
        left: 0;
        width: 100%;
        height: calc(100% - var(--header-height));
        background-color: #151515;
    }
    #content-panel {
        margin: 30px;
        padding: 20px;
        background-color: 151515;
    }
}

@media (min-width: 50em) {
    :root {
        --header-height: 100px;
    }
    body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: monospace;
        color: aliceblue;
    }
    #navbar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: var(--header-height);
        z-index: 1000;
        background-color: black;
        font-size: 15px;
    }
    #navbar ul {
        list-style-type: none;
        margin-top: 50px;
        padding: 0;
    }
    #navbar li {
        top: 50px;
        height: 40px;
        float: left;
        padding-top: 10px;
        background-color: black;
        /* border: 1px solid aliceblue; */
    }
    #navbar li:hover {
        background-color: grey;
    }
    #navbar li ul {
        display: none;
        position: absolute;
        top: 50px;
    }
    #navbar li ul li {
        float: none;
    }
    #navbar li:hover ul {
        display: block;
    }
    #navbar label {
        position: relative;
        padding: 20px 20px;
        cursor: pointer;
    }
    #navbar a {
        position: relative;
        padding: 20px 20px;
        cursor: pointer;
        color: aliceblue;
        text-decoration: none;
    }
    #logo {
        height: var(--header-height);
        float: left;
        -webkit-filter: invert(100%) !important;
    }
    .menu-button {
        display: none;
    }
    #content {
        position: absolute;
        top: var(--header-height);
        left: 0;
        width: 100%;
        height: calc(100% - var(--header-height));
        background-color: #151515;
    }
    #content-panel {
        margin: 30px;
        padding: 20px;
        background-color: 151515;
    }
}