body {
    font-family: Helvetica;
    background-color: lightpink;
    color: azure;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 4em;
    margin: 10px 0px;
}

h2 {
    font-size: 2em;
}

ul {
    list-style: none;
    padding: 10px;
}

ul span {
    font-weight: bold;
    font-size: large;
}

li a {
    font-weight: bold;
    font-size: 1.5em;
    color: azure;
}

li ul li a {
    font-size: 1em;
}

footer {
    position: fixed;
    bottom: 0;
    background-color: gray;
}

footer a {
    font-weight: bold;
    color: azure;
    text-decoration: none;
}

.container {
    padding: 5px 20px 5px 20px;
}

#projects {
    background-color: cadetblue;
}